include _partial/tool

- var mainClass = (post.toc !== 'false') ? 'post' : 'post post-center'
div#main(class=mainClass)
  //-文章头
  header
    p #{post.title}
    p 发表于：#{post.date.join('-')}
  //-文章本体
  article.post-content!= post.content
  //-文章分类和标签
  +postFooter(post)
  //-文章前后链接
  if(post.prev || post.next)
    nav
      if(post.next)
        div.next
          a(router-to=post.next.path)
            p 下一篇：
            p #{post.next.title}
      if(post.prev)
        div.prev
          a(router-to=post.prev.path)
            p 上一篇：
            p #{post.prev.title}
//-文章目录
if(post.toc !== 'false')
  aside#post-toc
    div
      p.toc-title 文章目录
      !=post.toc