mixin categoryList(categories)
    ul
        each obj, category in categories
            li
                a(href="/categories/#" + category title=category) #{category}
                    sup #{obj.posts.length}

mixin tagList(tags)
    ul
        each obj, tag in tags
            li
                a(href="/tags/#" + tag title=tag) #{tag}
                    sup #{obj.posts.length}

mixin linkList(links)
    ul
        for link, txt in links
            li
                a(href=link title=txt) #{txt}

mixin postFooter(post)
    if(post.category || post.tag)
        footer.post-footer
            if(post.category)
                span
                    a(href="/categories/#" + post.category + "/") #{post.category}
            if(post.tag)
                span
                    for tag in post.tag
                        a(href="/tags/#" + tag + "/") #{tag}